<template>
  <div id="app" class="container">
    <div class="card">
      <h4 class="card-header">
        Add Client
      </h4>
      <div class="card-body">
        <p class="card-text">
          <form @submit.prevent="addClient">
            <div class="form-group row">
              <label for="id" class="col-sm-2 col-form-label">Id:</label>
              <div class="col-sm-3">
                <input type="text" id="name" class="form-control" v-model="dtClient.id">
              </div>
            </div>
            <div class="form-group row">
              <label for="owner" class="col-sm-2 col-form-label">Owner:</label>
              <div class="col-sm-3">
                <input type="text" id="city" class="form-control" v-model="dtClient.owner">
              </div>
            </div>
            <div class="form-group row">
              <label for="policy" class="col-sm-2 col-form-label">Policy:</label>
              <div class="col-sm-3">
                <input type="text" id="phone" class="form-control" v-model="dtClient.policy">
              </div>
            </div> 
            <div class="form-group row">
              <label for="status" class="col-sm-2 col-form-label">Status:</label>
              <div class="col-sm-3">
                <input type="text" id="name" class="form-control" v-model="dtClient.status">
              </div>
            </div>
            <div class="form-group row">
              <label for="agent" class="col-sm-2 col-form-label">Agent:</label>
              <div class="col-sm-3">
                <input type="text" id="city" class="form-control" v-model="dtClient.agen">
              </div>
            </div>
            <div class="form-group row">
              <label for="start_date" class="col-sm-2 col-form-label">Start Date:</label>
              <div class="col-sm-3">
                <input type="text" id="phone" class="form-control" v-model="dtClient.start_date">
              </div>
            </div> 
            <div class="form-group row">
              <label for="expired_date" class="col-sm-2 col-form-label">Expired Date:</label>
              <div class="col-sm-3">
                <input type="text" id="phone" class="form-control" v-model="dtClient.expired_date">
              </div>
            </div> 
            <button type="submit" class="btn btn-primary float-left">Add Client</button>        
          </form>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    
}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
