<template>
  <div id="app" class="container">
    
    <div class="card">
      <h4 class="card-header">
        Client Lists
      </h4>
      <div class="menu">
        <router-link :to="/formtambahclient">
          <button id="myButton">Tamah Client</button>
        </router-link>
      </div>
      <div class="card-body">
        <p class="card-text">
          <table class="table table-dark">
            <thead class="thead-inverse">
              <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Policy</th>
                <th>Status</th>
                <th>Agen</th>
                <th>Start Date</th>
                <th>Expired Date</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="client in client">
                <td>{{ client.id }}</td>
                <td>{{ client.owner }}</td>
                <td>{{ client.policy }}</td>
                <td>{{ client.status }}</td>
                <td>{{ client.agen }}</td>
                <td>{{ client.start_date }}</td>
                <td>{{ client.expired_date }}</td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </div>

  </div>
</template>

<script>
  import Firebase from 'firebase'
  const config = {
      // your firebase config snippet 
      apiKey: "AIzaSyDSV5q0WzbY7f-xDMo7bqlpu8X8nrZmMIM",
      authDomain: "guaproject-bf61d.firebaseapp.com",
      databaseURL: "https://guaproject-bf61d.firebaseio.com",
      projectId: "guaproject-bf61d",
      storageBucket: "guaproject-bf61d.appspot.com",
      messagingSenderId: "559651986418"

  }

  const app = Firebase.initializeApp(config);
  const db = app.database();

  const clientRef = db.ref('client');

  export default {
    name: 'app',
    firebase: {
      client: clientRef
    },
    data () {
      return {
        dtClient: {
          id: '',
          owner: '',
          policy: '',
          status:'',
          agen:'',
          start_date:'',
          expired_date:''
        }
      }
    },
    methods: {
      addClient() {
        clientRef.push(this.dtClient)
        this.dtClient.id = ''
        this.dtClient.owner = ''
        this.dtClient.policy = ''
        this.dtClient.status = ''
        this.dtClient.agen = ''
        this.dtClient.start_date = ''
        this.dtClient.expired_date = ''
      },
      removeClient(client) {
        clientRef.child(client['.key']).remove()
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
.menu{
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: -15px;
}

</style>
